.selection {
    position: absolute;
    border: 1px dotted #000;
    z-index: 9999;
    top: 0;
    left: 0;
    cursor: default;
    display: none;
}
.container {
    position: relative;
    width: 500px;
    height: 1500px;
    background: #f0f0f0;
}
.selectable {
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: purple;
}
.selectable.selecting {
    background-color: yellow;
}
.selectable.selected {
    background-color: orange;
}
