#app table {
    font-size: 16px;
    width: 500px;
}
#app table th,
#app table td {
    padding: 5px;
    margin: 1px;
    background-color: #f0f0f0;
}
#app table > thead > tr > th {
    background-color: #ccc;
}
#app table > thead > tr > th:first-child,
#app table > tbody > tr > td:first-child {
    width: 300px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Styles for v-selectable display */
#selectbox {
    position: absolute;
    border: 1px dotted #000;
    z-index: 9999;
    top: 0;
    left: 0;
    cursor: default;
    display: none;
}
#app table > tbody > tr > td.selecting:first-child {
    background-color: yellow;
}
#app table > tbody > tr > td.selected:first-child {
    background-color: orange;
}
.hidden {
    display: none;
}
.wrapper {
    overflow-y: scroll;
    height: 300px;
    width: 700px;
    margin: 20px auto;
    border: 10px solid #f0f0f0;
}
.content {
    position: relative;
}
#selection-area {
    position: absolute;
    z-index: -500;
    top: 0;
    left: 0;
    height: 660px;
    width: 314px;
}
